{% for interface in config_context.interfaces %}
interface {{interface.name}}
 {% if interface.vrf is defined %}
 {#ip vrf forwarding {{ interface.vrf }}#}
 {% endif %}
 ip address {{interface.address}} {{interface.mask}}
 no shutdown
 {% if interface.description %}
 description {{interface.description}}
 {% endif %}
{% endfor %}