{% for protocol in config_context.routing_protocols %}
    {%- if protocol.ospf is defined %}
router ospf {{protocol.ospf.process_id}}
        {% if protocol.ospf.passive_interfaces is defined %}
        {% for interface in protocol.passive_interfaces %}
 passive-interface {{interface}}
        {% endfor %}
        {% endif %}
        {%- for network in protocol.ospf.networks %}
 network {{ network.network }} {{ network.wildcard }} area {{ network.area }}
        {% endfor %}
    {% endif %}
{% endfor %}